{% extends 'base.html.twig' %}

{% block title "Catégorie : " ~category.title %}

{% block body %}
<h1>{{ category.title }}</h1>
<br>
<h3>{{ category.name}}</h3>
<br>
<p>{{ cateogry.slug  | nl2br }}
{% endblock %}