{% extends 'base.html.twig' %}

{% block title "Toutes les recettes" %}

{% block body %}
CEST LA LISTE DE TOUTES LES RECETTES
<ul>
{% for recipe in recipes %}
<li>
<a href="{{ url('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title}}</a>
</li>
{% endfor %}
</ul>
{% endblock %}