{% extends 'base.html.twig' %}

{% block title "Recette : " ~recipe.title %}

{% block body %}
<h1>{{ recipe.title }}</h1>
<br>
<h3>{{ recipe.description}}</h3>
<br>
<p>{{ recipe.content  | nl2br }}
{% endblock %}